MovieStoreAngular/.project
MovieStoreAngular/.settings/.jsdtscope
MovieStoreAngular/.settings/org.eclipse.jdt.core.prefs
MovieStoreAngular/.settings/org.eclipse.wst.common.component
MovieStoreAngular/.settings/org.eclipse.wst.common.project.facet.core.xml
MovieStoreAngular/.settings/org.eclipse.wst.jsdt.ui.superType.container
MovieStoreAngular/.settings/org.eclipse.wst.jsdt.ui.superType.name
